{% extends "base.html" %}

{% block sidebar %}
<ul>
   <li><a href="/biotools/user_query">Get Tool Suggestion</a></li>
   <li><a href="/biotools/all">Bioinformatic Tools</a></li>
   <li><a href="/biotools/add_biotool">Add Bioinformatic Tool</a></li>
</ul>
{% endblock %}


{% block content %}


{% if tools.count > 0 %}

<h1>Bioinformatic Tools</h1>

{% for tool in tools %}
<div>
<h2><a href="/biotools/get/{{ tool.id }}/">{{ tool.name }}</a></h2>
</div>
{% endfor %}

{% else %}
<p> None to show! </p>

{% endif %}

{% endblock %}





